

.background{
    background-image:linear-gradient(to right,#636AF2,#7F0CF2);
    height:100px;
    /* width:100%; */
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding-left:2%;
    padding-right:2%;
    /* padding-top:8px; */

    
}

.movieIcon{
    font-size:40px;
}

.iconsBox{
    display:flex;
    align-items: center;
}