

.movieContainer{
    display:flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding:10px;
    background-color:#ffffff;
    border-radius:5px;
    margin-bottom:20px;


}

.movieImage{
    margin-right:20px;
    height:300px;
    width:25%;
}

.detailsBox{
    width:75%;
    
}

.title{
    font-family:roboto;

    
}

.releaseDate{
    font-family:Roboto;

    
}
.rating{
    font-family:roboto;

}

.description{
    font-family:roboto;
    
}
/* 
.movieContainer{
    
}

.movieContainer{
    
} */
